*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(117, 103, 145);
}

main{
    min-height: 90vh;
}

header{
    background-color: rgb(34, 30, 102);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}


.teamDescription{
    background-color: rgb(112, 90, 124);
    margin-left: 50px;
    padding: 15px;
    text-align: justify;
}

.profilePic{

    width: 50%;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85);
    margin: 20px;
}

.teamMembers{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px;    
}

.member{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(52, 48, 110);
    width: 25%;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85);
    border: solid black 3px
}


.memberDescription{
    text-align: justify;
    margin: 50px;
    color: white;
}

.logo{
    width: 30px;
    margin: 10px;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet; 
}

.socialMedia{
    display: flex;
    justify-content: space-around;
}

.link{
    display: flex; 
    align-items: center;


}