*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgb(139, 139, 139);
    display: flex;
    flex-direction: column;
}

header{
    background-color: purple;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamDescription{
    background-color: aqua;
    margin-left: 50px;
    padding: 15px;
}

.profilePic{
    width: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
}

.teamMembers{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}

.memberDescription{
    width: 400px;
    text-align: justify;
    margin-top: 10px;
}

.logo{
    width: 30px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
}